// variables
// -----------------------------
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-btn:#F6F6F6;
$color-background-card:#ffffff;
$color-backgd-grey:#F6F6F6;
$color-grey1: #353535;
$color-grey2: #EAEAEA;
$gradient: linear-gradient(to bottom, #FF79DA, #9356DC);
//----------------------

// Style Police
//----------------------
$font-logo: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;
//----------------------

// Taille Police
//----------------------
$size-title: 24px;
$Size-title_2: 18px;
$size-text: 18px;
$size-btn: 16px;
$size-lien: 16px;
//----------------------