// variables
// -----------------------------
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-btn:#F6F6F6;
$color-background-card:#ffffff;
$color-backgd-grey:#F6F6F6;
$color-grey1: #353535;
$color-icone-grey: #7E7E7E;
$color-grey2: #EAEAEA;
$color-heart:#9747FF;
$gradient: linear-gradient(to bottom, #FF79DA, #9356DC);
$gradient-hoover: linear-gradient(200.64deg, #a97af0 -5.2%, #ffa3e8 110.74%);
//----------------------

// Style Police
//----------------------
$font-logo: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;
//----------------------

// Taille Police
//----------------------
$size-logo: 30px;
$size-title: 24px;
$Size-title_2: 18px;
$size-text: 18px;
$size-btn: 16px;
$size-lien: 16px;
$size-etiquette : 14px;
//----------------------