@import "SASS/Abstracts/variables";
@import "SASS/Abstracts/mixins";

@import "SASS/Base/base";

@import "SASS/Composants/animation_heart";
@import "SASS/Composants/button";
@import "SASS/Composants/cards";
@import "SASS/Composants/nav";
@import "SASS/Composants/loader";

@import "SASS/Disposition/header";
@import "SASS/Disposition/footer";

@import "SASS/Pages/main_restaurant";

