footer {
  height : 180px;
  color: white;
  background-color:#353535;
  margin:0;
  display: flex;
  flex-direction: column;
 
  p {
    font-family: $font-logo;
    font-size: $Size-title_2;
    padding : 20px 35px;
  }

  i{
    padding-right:7px;
  }

  a {
  font-size: $size-lien;
  color: white;
  text-decoration: none;
  }

  ul{
  list-style-type: none;
  }

  &__list {
  display: flex;
  flex-direction: column;
}
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) { 
  
footer {
  height: 190px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding : 0px 30px;

}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding : 20px
}

}