footer {
  height : 180px;
  color: white;
  background-color:#353535;
  margin:0;
  display: flex;
  flex-direction: column;
 
  p {
    font-family: $font-logo;
    font-size: $Size-title_2;
    padding : 20px 35px;
  }

  i{
    padding-right: 5px;
  }

  a {
  font-size: $size-lien;
  color: white;
  text-decoration: none;
  }

  ul{
  list-style-type: none;
  }

  &__list {
  display: flex;
  flex-direction: column;
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 768px) */
@media (min-width:768px) { 
  
  footer {
    height: 110px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding : 0px;
    p {
    padding : 20px;
    }
    }

  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 10px;
  }
}

/****** Media queries ***********/
/* Medium devices (desktop > 1024px) */
@media (min-width:1024px) { 
  
  footer {
    p {
    padding : 30px;
    }
  }

  .footer__list {
    gap: 20px;
    padding: 30px 20px;
  }
}