// barre localisation//
//---------------------

.search-barre{
    display: flex;
    gap: 25px;
}

form{
  width: 100%;
  height: 50px;
  background-color: $color-grey2;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 2px solid red;
}

input{
  background-color: $color-grey2;
  border: none;
}

placeholder{
  color : black;
  font-weight: 500;
  font-size: $size-lien;
  line-height: 100%;
}

.information{
  @include flexbox-center;
  text-align: center;
  flex-direction: column;
  background-color: $color-grey2;
  h2{
  font-weight: 700;
  font-size: $size-title;
  }
}