// barre localisation//
//---------------------

.search-barre{
    display: flex;
    gap: 25px;
}

form{
  width: 100%;
  height: 50px;
  background-color: $color-grey2;
  border : 2px solid black;
}

input{
  background-color: $color-grey2;
  border: none;
}

placeholder{
  color : black;
  font-weight: 500;
  font-size: $size-lien;
  line-height: 100%;
}

.information{
  @include flexbox-center;
  text-align: center;
  flex-direction: column;
  background-color: $color-grey2;
  h2{
  font-weight: 700;
  font-size: $size-title;
  }
}


/****** Media queries ***********/
/* Medium devices (tablets desktop, >768px) */
@media (min-width: 768px) { 

.information{
  h2{
  font-weight: 700;
  font-size: 30px;
  }
}
}