// barre localisation//
//---------------------

header{
  padding: 20px 0px;
  text-align: center;
}

.search-barre{
    display: flex;
    gap: 25px;
}
form{
  width: 100%;
  height: 50px;
  @include flexbox-center;
  margin: 20px 0px;
  background-color: $color-grey2;
  box-shadow: 0px 4px 4x 0px #00000040;
}

input{
  background-color: $color-grey2;
  border: none;
  justify-content: center;
  margin: 0px;
}
