// barre localisation//
//---------------------

.search-barre{
  display: flex;
  gap: 25px;
}

form{
  width: 100%;
  height: 50px;
  background-color: $color-grey2;
  box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, 0.26), 0px 4px 4px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  i{
  padding-left: 80px;
  font-size: 20px;
  }
  input{
  background-color: $color-grey2;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: $size-lien;
  color : black;
  padding-left:20px;
  &::placeholder{
    font-family: $font-text;
    color: black;
    font-size: $size-text;
    font-weight: 500;
    opacity: 1;
  }
  }
}

.information{
  @include flexbox-center;
  text-align: center;
  flex-direction: column;
  background-color: $color-backgd-grey;
  padding-bottom: 20px;
  h2{
  font-weight: 700;
  font-size: $size-title;
  padding-left: 0px;
  }
  p{
  padding-top: 20px;
  }
}


/****** Media queries ***********/
/* Medium devices (tablets desktop, >768px) */
@media (min-width: 768px) { 

  .information{
    h2{
    font-weight: 700;
    font-size: 30px;
    }
  }
}