.btn {
  width: auto;
  height: 50px;
  border: none;
  font-size:$size-btn;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color:#F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px #00000026;
  @include flexbox-center;
  padding: 30px
}

.btn__header{
  color: #ffffff;
  border-radius: 50px;
  background: $gradient;
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn__header:hover{
background: $gradient-hoover;
box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
transition: filter 0.3s ease, box-shadow 0.3s ease;
}



