.btn {
  width: auto;
  height: 50px;
  border: none;
  font-size:$size-btn;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color:#F6F6F6;
  box-shadow: 0px 4px 10px 0px #00000040;
  border-radius: 25px;
  opacity:1;
  @include flexbox-center;
  padding: 30px
}

.btn__header{
  color: #ffffff;
  border-radius: 50px;
  background: $gradient;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 10px 0px #00000040;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.2s ease; //durée animation et accélération souhaitée//
  &:hover{
  background: $gradient-hoover;
  box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.40);//augmente ombre bouton//
  }
}

.btn__commander{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px 40px
}

/****** Media queries ***********/
/* Medium devices (tablets desktop, >768px) */
@media (min-width: 768px) { 

.btn__header{
  margin-bottom: 30px;
}
}