.restaurant__card {
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    position : relative;
    background-color: $color-background-card;
    border-radius: 15px;
    color:black;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    &__img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
  
    }

    &__content {
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    padding-left: 15px;
    padding-top: 15px;
    position: relative;

    &__text{
    font-size: $size-text;
    font-weight: 700;
    }

    &__ville{
    font-size: 17px;
    font-weight: 300;
    }
    }
}
.restaurant__card__etiquette {
    width: 80px;
    height: 29px;
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: $color-tertiary;
    border: 1px solid $color-tertiary;
    color: #008766;
    font-weight: 500;
    font-size: $size-etiquette;
    padding: 5px;
    text-align: center;
    }

    .restaurant__card__content__heart i{
    position: absolute;
    bottom: 20px;/* distance du bas */
    right: 20px; /* distance de la droite */
    font-size: 29px;
    }

    .heart-full{
    font-size: 33px;
    opacity:0;
    color: $color-heart;
    transition-property: all;
    transition-duration: 0.3s ease;
    bottom: 22px;/* distance du bas */
    right: 22px; /* distance de la droite */
    }

    .heart-full:hover{
    opacity:1;
    }











/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
    .restaurant__card {
    width: auto;
    height: auto;

    &__img {
    width: 100%;
    height: 260px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
    object-position: 0% 60%;
    }
    }


}