.restaurant__card {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    position : relative;
    background-color: $color-background-card;
    border-radius: 15px;
    color:black;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    &__img {
    width: 100%;
    height: 270px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
    }

    &__content {
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 1.2;
    position: relative;

    &__text{
    font-size: $size-text;
    font-weight: 700;
    }

    &__ville{
    font-size: 17px;
    font-weight: 300;
    }
    }
}
.restaurant__card__etiquette {
    width: 80px;
    height: 29px;
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: $color-tertiary;
    border: 1px solid $color-tertiary;
    color: #008766;
    font-weight: 500;
    font-size: $size-etiquette;
    padding: 5px;
    text-align: center;
    }

    .restaurant__card__content__heart i{
    position: absolute;
    bottom: 20px;/* distance du bas */
    right: 20px; /* distance de la droite */
    font-size: 1.6em;
    }

    .heart-full{
    font-size: 33px;
    opacity:0;
    background: -webkit-linear-gradient(181deg, #9356dc,#ff79da);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(181deg, #9356dc,#ff79da);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    background-clip: text;
    color: transparent;
    transition-property: all;
    transition-duration: 0.3s ease;
    bottom: 22px;/* distance du bas */
    right: 22px; /* distance de la droite */
    }

    .restaurant__card__content__heart input {
    display: none;
    }
    .restaurant__card__content__heart input:checked + label .heart-full {
    opacity: 1;
    }

    .restaurant__card__content__heart input:checked + label .heart-empty {
    opacity: 0;
    }

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
    .restaurant__card {
    width: auto;
    height: auto;

    &__img {
    width: 100%;
    height: 250px;
    object-position: 0% 60%;
    }
    }

    .heart-full:hover{
    opacity:1;
    }
}