.restaurant__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-background-card;
    border-radius: 20px;
    padding: 10px;
    gap: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    &__img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    }
    
    &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    }
    
    &__title {
    font-size: 1.2rem;
    font-weight: 700;
    }
    
    &__text {
    font-size: 1rem;
    color: gray;
    }
}