.restaurant__card {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    background-color: $color-background-card;
    border-radius: 15px;
    gap: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    &__img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    }

    &__content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    }
}