/* Loader visible au début */
.loader-container {
    position: fixed;
    inset: 0;
    background:$color-grey1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    animation: hideLoader 3s forwards;
}

/* Le site est invisible au début */
.page-content {
    opacity: 0;
    animation: showContent 3s forwards;
    animation-delay: 1s;
}

/* Animation disparition loader */
@keyframes hideLoader {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

/* Animation apparition du site */
@keyframes showContent {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.flipping-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $size-logo;
    font-weight: bold;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: flip 3s infinite;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.1s;
}

.card:nth-child(3) {
    animation-delay: 0.2s;
}

.card:nth-child(4) {
    animation-delay: 0.3s;
}

.card:nth-child(5) {
    animation-delay: 0.4s;
}

.card:nth-child(6) {
    animation-delay: 0.5s;
}

.card:nth-child(7) {
    animation-delay: 0.6s;
}

.card:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}