.nav {
  max-width: 100%;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
  
  &__list{
    padding:15px;
  }

  &__items{
  display: flex;
  align-items: center;
  background-color: $color-backgd-grey;
  box-shadow: 0px 4px 15px 0px #00000026;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
  padding-right: 15px;
  gap: 15px;
  margin: 20px 0;
  &:hover {
    color: $color-primary; //couleur appliquée à tout le contenu *//
    box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.40);
    a, i {
    color: inherit; /* le lien hérite de la couleur du li */
  }
  }
  }

  &__number{
    width : 15px;
    height: 15px;
    font-size: 16px;    
    border: 2px solid $color-primary;
    border-radius : 50%;
    background-color: $color-primary;
    color: $color-btn;
    @include flexbox-center;
    padding : 10px;
    position:absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

    p{
    font-size: 18px;
    font-weight: 500;
    }
  }

  &__content{
    display:flex;
    align-items:center;
    padding: 10px 0px;
    gap : 10px;

    p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    }
  }

  i{
    font-size: 18px;
    padding-left: 18px;
    color: $color-icone-grey;
  }

  a{
    text-decoration : none;
    color:black;
}
}


/****** Media queries ***********/
/* Medium devices (desktop, >768px) */
@media (min-width: 768px) { 
.nav {
  padding-left: 60px;
}
}

/****** Media queries ***********/
/* Medium devices (desktop, >1024px) */
@media (min-width: 1024px) { 
  .nav {
  ul {
  gap: 25px;
  }
  &__content{
  padding: 20px;

  }
  }
  }

  
/****** Media queries ***********/
/* Medium devices (desktop, >1240px) */
@media (min-width: 1240px) {
  .nav {
  ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 120px;
  }
  &.nav__content{
  display: flex;
  align-items: center;
  white-space: nowrap;
  p{
    padding: 20px;
    }
  }

  }
  }

