.nav {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-left: 20px;

  &__list{
    padding:0px;
  }

  &__items{
  background-color: $color-grey2;
  box-shadow: 0px 4px 15px 0px #00000026;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 10px;
  padding-right: 50px;
  gap: 15px;
  margin: 20px 0;
  }

  &__number{
    width : 15px;
    height: 15px;
    font-size: 16px;    
    border: 2px solid $color-primary;
    border-radius : 50%;
    background-color: $color-primary;
    color: $color-btn;
    @include flexbox-center;
    padding : 10px;
    position:absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

    p{
    font-size: 18px;
    font-weight: 500;
    }
  }

  &__content{
    max-width: 400px;
    @include flexbox-center;
    flex-direction: row;
    padding: 10px;
    gap : 10px;

    p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    }
  }

  i{
    font-size: 18px;
    padding-left: 18px;
    color: $color-icone-grey;
    &:hover{
    color:$color-primary;
    }
  }



}

/****** Media queries ***********/
/* Medium devices (tablets desktop, >768px) */
@media (min-width: 768px) { 
  .nav {
    align-items: normal;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    padding-right: 180px;
    padding-bottom: 50px;
    padding-left: 180px;
  }
  }

}

