//HTML General//
//-----------------

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $font-text;
  font-size: $size-title;
}

h2{
  font-family: $font-text;
  font-size: $size-title;
}

h3 {
  font-family: $font-text;
  font-size: $size-title;
}

ul {
  list-style-type:none;

}

a{
  text-decoration : none;
}

body {
  width: 100%;
  font-family: $font-text;
  font-size: $size-text;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $color-grey2;
}

.restaurant{
  margin: 30px;
  gap : 20px;

}

