//HTML General//
//-----------------

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: $font-text;
  font-size: $size-title;
}

h2{
  font-family: $font-text;
  font-size: $size-title;
  padding : 30px;
}

h3 {
  font-family: $font-text;
  font-size: $Size-title_2;
}

ul {
  list-style-type:none;

}

a{
  text-decoration : none;
}

body {
  width: 100%;
  font-family: $font-text;
  font-size: $size-text;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $color-grey2;

}


.restaurant{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap : 20px;
  padding: 30px;
}





/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) { 
.restaurant{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 0 60px 40px 60px;
  gap : 25px;

}

h2{
  padding-left : 80px;
}
}
