//HTML General//
//-----------------

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2{
  font-family: $font-text;
  font-size: $size-title;
  padding-top: 40px;
  padding-left: 40px;
}

h3 {
  font-family: $font-text;
  font-size: $Size-title_2;
}

p{
  padding-bottom: 15px;
  font-size: $size-text;
  font-weight:300;
}
ul {
  list-style-type:none;
}

a{
  text-decoration : none;
  color:black;
}

body {
  width: 100%;
  font-family: $font-text;
  font-size: $size-text;
  font-weight:300;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $color-backgd-grey;
}


.restaurant{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap : 30px;
  padding: 30px;
}

/****** Media queries ***********/
/* Medium devices (tablets, >768px) */
@media (min-width:768px) { 

.restaurant{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 60px;
}

.br{
  display:none;
}

h2{
  padding-left: 60px;
}
}

/****** Media queries ***********/
/* Medium devices (desktop, >1240px) */
@media (min-width: 1240px) {
  .restaurant {
    padding: 30px 180px;
    }
    
  h2{
  padding-left: 180px;
}
}


