//HTML General//
//-----------------

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2{
  font-family: $font-text;
  font-size: $size-title;
  padding-top: 50px;
  padding-left: 30px;
}

h3 {
  font-family: $font-text;
  font-size: $Size-title_2;
}

p{
  padding-bottom: 15px;
  font-size: $size-text;
  font-weight:300;
}
ul {
  list-style-type:none;
}

a{
  text-decoration : none;
}

body {
  width: 100%;
  font-family: $font-text;
  font-size: $size-text;
  font-weight:300;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $color-grey2;
}


.restaurant{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap : 30px;
  padding: 30px;
}



/****** Media queries ***********/
/* Medium devices (tablets desktop, >768px) */
@media (min-width: 768px) { 

.restaurant{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 0 60px 60px 60px;
  gap : 25px;

}


}

