* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 30px 15px 15px 30px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #EAEAEA;
}

.restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px 40px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding: 0 60px 60px 60px;
    gap: 25px;
  }
  h2 {
    padding-left: 80px;
  }
}
.btn {
  width: auto;
  height: 50px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.btn__header {
  color: #ffffff;
  border-radius: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn__header:hover {
  background: linear-gradient(200.64deg, #a97af0 -5.2%, #ffa3e8 110.74%);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}

.restaurant__card {
  width: 100%;
  height: 375px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  color: black;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.restaurant__card__img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurant__card__content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
}
.restaurant__card__content__text {
  font-size: 18px;
  font-weight: 700;
}
.restaurant__card__content__ville {
  font-size: 17px;
  font-weight: 300;
}

.restaurant__card__etiquette {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

.restaurant__card__content__heart {
  position: absolute;
  bottom: 20px; /* distance du bas */
  right: 20px; /* distance de la droite */
  font-size: 30px;
  color: 0.5px solid rgba(0, 0, 0, 0.685);
  font-size: 30px;
  color: black;
  font-weight: 100;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  .restaurant__card {
    width: auto;
    height: auto;
  }
  .restaurant__card__img {
    width: 100%;
    height: 260px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: 0% 60%;
  }
}
.nav {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.nav__items {
  max-width: 400px;
  height: 80px;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 10px;
  padding-right: 50px;
  gap: 15px;
  margin: 20px 0;
}
.nav__number {
  width: 15px;
  height: 15px;
  size: 16px;
  border: 2px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
.nav__number p {
  font-size: 18px;
  font-weight: 500;
}
.nav__content {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}
.nav__content p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.nav i {
  font-size: 18px;
  color: #9356DC;
  padding-left: 25px;
}

.search-barre {
  display: flex;
  gap: 25px;
}

form {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border: 2px solid red;
}

input {
  background-color: #EAEAEA;
  border: none;
}

placeholder {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #EAEAEA;
}
.information h2 {
  font-weight: 700;
  font-size: 24px;
}

footer {
  height: 180px;
  color: white;
  background-color: #353535;
  margin: 0;
  display: flex;
  flex-direction: column;
}
footer p {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  padding: 20px 35px;
}
footer i {
  padding-right: 5px;
}
footer a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
}
footer__list {
  display: flex;
  flex-direction: column;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  footer {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0px 30px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px;
  }
}/*# sourceMappingURL=main-style.css.map */