//**************************************//
//**************Generalités************//

*{
  margin:0;
  box-sizing: border-box;
}

.backgrd_white{
  background-color: white;
}
//**************************************//
//****************Header**************//
//**************************************//

.header-restaurants{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  .logo{
  display: flex;
  width: 200px;
  justify-content: center;
  padding-top: 25px;
  }
  .arrow-left{
  height: 30px;
  width: 30px;
  display: flex;
  position: absolute;
  left: 0;
  top:0;
  padding: 35px 20px;
  font-size: $size-title;
  }
}

.entete{
  width: 100%;
  height: 350px;
  display: flex;
  object-fit: cover;
  position: relative;
  bottom: -40px;
  object-position: 0% 60%;
}

//**************************************//
//****************Main - Menu**************//
//**************************************//

.menu{
  max-width: 1055px;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position:relative;
  h1{
  font-family: $font-logo;
  font-weight: 400;
  font-size: 28px;
  display: flex;
  }
}

.menu h2 {
  font-weight: 300;
  font-size: $size-lien;
  margin-left: 20px;
  padding: 30px 0px 8px 0px;
  border-bottom: 3px solid $color-tertiary;
  width: 40px;
  text-transform: uppercase; //mets le texte en majuscule//
  }

  .position{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

//**************************************// //**************************************// 
//**************************************// //**************************************// 
//*************** element du menu + animation validation**************//
//**************************************//   

.list__plat{
  width: 100%;
  height: 72px;
  position : relative;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 20px 0px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transform: translateX(0);
  h3{
  width: 75%;
  font-weight: 500;
  padding-bottom: 5px;
  }
  p{
  width: 75%;
  font-weight: 300;
  font-size: 15px;
  }
}

/* Animation simultanée */

.list__plat:hover .list__plat__prix {
  transform: translateX(-80px); //*deplacement vers la gauche*//
}

.list__plat:hover .list__plat__check {
  transform: translateX(-40px); 
  opacity: 1;
}

.list__plat:hover {
  padding-right: 80px; // espace pour laisser entrer le check//
  transition: padding-right 0.3s cubic-bezier(.25,.46,.45,.94);
}

/* Transitions */
.list__plat__prix,
.list__plat__check {
  transition: transform 0.3s cubic-bezier(.25,.46,.45,.94);
  transform-origin: center;
  opacity: 1;
}

.apparition {
  opacity: 0; /* invisible au départ */
  transform: translateY(-20px); /* décalage vers le haut */
  animation: fadeSlideIn 3s forwards;
}

/* Animation progressive : chaque élément apparaît avec un délai */
    .apparition:nth-child(1) { animation-delay: 6s; }
    .apparition:nth-child(2) { animation-delay: 1s; }
    .apparition:nth-child(3) { animation-delay: 2s; }


/* Définition de l'animation */
    @keyframes fadeSlideIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }



//*********************//

ul {
  list-style-type: none;
  padding: 0px 20px;
}

.list__plat_texte{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  h3,
  p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

/* Positionnement initial */
.list__plat__prix{
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 12px;
  font-weight: 700;
  font-size: 15px;
  gap:2px;
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(.25,.46,.45,.94);
  }

  .list__plat__check {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: -40px;
  width: 80px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-tertiary;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(.25,.46,.45,.94), opacity 0.3s;
  }



//***************************************************************************// 
/****** Media queries ***********/
/* Medium devices (desktop, >1024px) */
@media (min-width: 1024px) {
.menu{
  margin: 0px 180px;
  h1{
  font-size: $size-logo;
  }
}
  .entete {
  object-position: 0% 60%;
  height: 400px;
}

 .position{
    justify-content: center;
  }
}

//***************************************************************************// 
/****** Media queries ***********/
/* Medium devices (desktop, >1300px) */
@media (min-width: 1300px) {
    .menu {
        margin: 0px 300px;
        max-width: 1200px;
    }    }